doctype html
html
head
	meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
	meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=0")
	style.
		html,
		body,
		input,
		select,
		button  {
		color: #ddd !important;
		background-color: #000 !important;
		}
	title Gyro Client
body
	p Gyro Client (by hjmmc and qashto)
	div
		| Sensitivity:
		input#scale(type="number" onchange="scaleChange(this.value)" value="1")
		br
		|  Screen direction:
		select#screen(onchange="screenChange(this.value)")
			option(value="h") horizontal
			option(value="v") vertical
	p
		| WebSocket State：
		label#lblConnected Disconnecte
	p#x x:0
	p#y y:0
	p#z z:0
	p#s Current sensitivity:1
	p IOS default sensitivity is 1，Android sensitivity is about 60（reference value）
script(src='/js/client.js')
