doctype html
html

head
link(rel='stylesheet' type='text/css' href=node_modules + '/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet' type='text/css' href='../css/style.css')
title= title
body.container
	.row
		h1 cemu-no-gyro config
		p You can individually toggle on/off each axis of gyro rotation and toggle normal or inverted controls. In addition to fine grain control with the analog sticks you can hold the left trigger for half speed and hold the right trigger for 5x speed.
		.col-12: .row.justify-content-center
			button#speedShift.col.btn.enabled Use Triggers for Speed Shifting
		h2.col-12 Toggle Gryo Axises
		.col-4: .row.justify-content-center
			button#gyroX.col.btn.enabled X (right stick y axis)
		.col-4: .row.justify-content-center
			button#gyroY.col.btn.enabled Y (right stick x axis)
		.col-4: .row.justify-content-center
			button#gyroZ.col.btn.enabled Z (left stick x axis)
		h2.col-12 Normal/Invert Gyro Controls
		.col-4: .row.justify-content-center
			button#invertX.col.btn.enabled X normal
		.col-4: .row.justify-content-center
			button#invertY.col.btn.enabled Y normal
		.col-4: .row.justify-content-center
			button#invertZ.col.btn.enabled Z normal
		
		h2#gamepadIndicator.col-12 Gamepad not connected
		p.col-12.text-align-center ~~~~~~~~~~~~~~~~~~~~
		
		h2#phoneIndicator.col-12 Phone not connected
		p.col-12 Open this URL on your phone to play with real motion controls:
		p#phoneURL.col-12
		
		#setup.col-12
script.
	require('../js/index.js')(JSON.parse('#{arg}'.replace(/&quot;/g, '"')));
