doctype html
html

head
link(rel='stylesheet' type='text/css' href=node_modules + '/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet' type='text/css' href='../css/style.css')
title= title
body.container
	.row
		#setup.col-12
		h2#settings.col-12 Toggle Gryo Axises
		.col-4: .row.justify-content-center
			button#gyroX.col-md-8.col-sm-12.btn.enabled X (right stick y axis)
		.col-4: .row.justify-content-center
			button#gyroY.col-md-8.col-sm-12.btn.enabled Y (right stick x axis)
		.col-4: .row.justify-content-center
			button#gyroZ.col-md-8.col-sm-12.btn.enabled Z (left stick x axis)
		h2#settings.col-12 Normal/Invert Gyro Controls
		.col-4: .row.justify-content-center
			button#invertX.col-md-8.col-sm-12.btn.enabled X normal
		.col-4: .row.justify-content-center
			button#invertY.col-md-8.col-sm-12.btn.enabled Y normal
		.col-4: .row.justify-content-center
			button#invertZ.col-md-8.col-sm-12.btn.enabled Z normal
		h2#gamepadIndicator.col-12
script.
	require('../js/index.js')({__rootDir:'#{__rootDir}'});
