body,
html {
	color: #ddd;
	background-color: #000;
}

.btn {
	background-color: #044;
}

.btn.enabled {
	background-color: #0cc;
}

.text-align-center {
	text-align: center;
}

a,
a:hover {
	color: #0cc;
}